<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MovieAdmin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container" th:if="${status} != ''">
    <div class="alert-danger">
        <p th:utext="${status}"></p>
    </div>
</div>

<div class="container" th:if="${success} != ''">
    <div class="alert-info">
        <p th:utext="${success}"></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4 class="header-panel" style="text-align: center">New Movie</h4>
            <br>
            <form action="#" th:action="@{/admin/movie/create}" th:object="${movieDto}" method="post">
                <div class="form-group">
                    <label for="name"> Name * : </label>
                    <input id="name" th:field="*{name}" />
                    <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">Movie name error.</p>
                </div>
                <div class="form-group">
                    <label for="director"> Director : </label>
                    <input id="director" th:field="*{director}" />
                </div>
                <div class="form-group">
                    <label for="camera"> Camera : </label>
                    <input id="camera" th:field="*{camera}" />
                </div>
                <div class="form-group">
                    <label for="music"> Music : </label>
                    <input id="music" th:field="*{music}" />
                </div>
                <div class="form-group">
                    <label for="description"> Description : </label>
                    <input id="description" th:field="*{description}" />
                </div>
                <div class="form-group">
                    <label for="forAdults"> For Adults Only : </label>
                    <input type="checkbox" id="forAdults" th:field="*{forAdults}" />
                </div>
                <button class="arrow-button" type="submit">Create</button>
            </form>
        </div>
        <div class="col-sm">
            <h4 class="header-panel" style="text-align: center">New Comment</h4>
            <br>
            <form action="#" th:action="@{/admin/comment/create}" th:object="${commentDto}" method="post">
                <div class="form-group">
                    <label for="movieId"> Movie Id * : </label>
                    <input id="movieId" th:field="*{movieId}" />
                    <p class="error" th:if="${#fields.hasErrors('movieId')}" th:errors="*{movieId}" style="color: red">Movie ID error.</p>
                </div>
                <div class="form-group">
                    <label for="commentAuthorId"> Author Id : </label>
                    <input id="commentAuthorId" th:field="*{authorId}" />
                </div>
                <div class="form-group">
                    <label for="commentText"> Comment Text * : </label>
                    <input id="commentText" th:field="*{commentText}" />
                    <p class="error" th:if="${#fields.hasErrors('commentText')}" th:errors="*{commentText}" style="color: red">Comment text error.</p>
                </div>
                <button class="arrow-button" type="submit">Create</button>
            </form>
        </div>
        <div class="col-sm">
            <h4 class="header-panel" style="text-align: center">New Rating</h4>
            <br>
            <form action="#" th:action="@{/admin/rating/create}" th:object="${ratingDto}" method="post">
                <div class="form-group">
                    <label for="id"> Movie Id * : </label>
                    <input id="id" th:field="*{id}" />
                    <p class="error" th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color: red">Movie ID error.</p>
                </div>
                <div class="form-group">
                    <label for="authorId"> Author Id : </label>
                    <input id="authorId" th:field="*{authorId}" />
                </div>
                <div class="form-group">
                    <label for="ratingValue"> Rating Value * : </label>
                    <input id="ratingValue" th:field="*{ratingValue}" />
                    <p class="error" th:if="${#fields.hasErrors('ratingValue')}" th:errors="*{ratingValue}" style="color: red">Rating value error.</p>
                </div>
                <button class="arrow-button" type="submit">Create</button>
            </form>
        </div>
        <div class="col-sm">
            <h4 class="header-panel" style="text-align: center">New User</h4>
            <br>
            <form action="#" th:action="@{/admin/user/create}" th:object="${userDto}" method="post">
                <div class="form-group">
                    <label for="firstName"> First Name : </label>
                    <input id="firstName" th:field="*{firstName}" />
                </div>
                <div class="form-group">
                    <label for="lastName"> Last Name : </label>
                    <input id="lastName" th:field="*{lastName}" />
                </div>
                <div class="form-group">
                    <label for="userName"> User name (nick) * : </label>
                    <input id="userName" th:field="*{userName}" />
                    <p class="error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" style="color: red">UserName error.</p>
                </div>
                <div class="form-group">
                    <label for="password"> Password * : </label>
                    <input id="password" th:field="*{password}" />
                    <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red">Password error.</p>
                </div>
                <div class="form-group">
                    <label for="birthDate"> BirthDate * : </label>
                    <input type="date" id="birthDate" th:field="*{birthDate}" />
                    <p class="error" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" style="color: red">BirthDate error.</p>
                </div>
                <button class="arrow-button" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <h4>All movies</h4>
        <table class="table">
            <thead>
            <tr>
                <th> Movie Id </th>
                <th> Movie name </th>
                <th> Description </th>
                <th> Average rating </th>
                <th> Over 18 </th>
                <th> Action </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${allMovies.empty}">
                <td colspan="2"> No Movies Available </td>
            </tr>
            <tr th:each="movie : ${allMovies}">
                <td><span th:text="${movie.id}"></span></td>
                <td><span th:text="${movie.name}"></span></td>
                <td><span th:text="${movie.description}"></span></td>
                <td><span th:text="${movie.averageRating}"></span></td>
                <td><span th:text="${movie.forAdults} ? '*' : ''"></span></td>
                <td><a href="#" class="button" th:href="@{/movies/detail/{movieId}(movieId=${movie.id})}">Detail</a> ||
                    <a href="#" class="button" th:href="@{/admin/movies/delete/{movieId}(movieId=${movie.id})}"
                       onclick="return confirm('Do you really want to delete this movie?')">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>