<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MovieCatalog-All Movies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/sockjs.js"></script>
    <script src="/stomp.js"></script>
    <script src="script.js"></script>
</head>
<body>
<div class="container">
    <br>
    <h4>Search movies</h4>
    <form action="#" id="searchForm">
        <div class="form-group">
            <input type="text" class="form-control" id="searchText" aria-describedby="searchHelp" placeholder="Enter search string...">
            <small id="searchHelp" class="form-text text-muted">Search is supported for fields Name, Director and Description.</small>
        </div>
        <button type="submit" class="btn btn-primary" onclick="searchMovies()">Search</button>
    </form>
    <br>
    <form action="#" id="specForm">
        <div class="form-group">
            <input type="text" class="text-center" id="specField" placeholder="Enter field"/>
            <input type="text" class="text-center" id="specOperation" placeholder="<, >, <=, >=, ==, !="/>
            <input type="text" class="text-center" id="specValue" aria-describedby="specHelp" placeholder="Enter value"/>
            <small id="specHelp" class="form-text text-muted">Search is supported for fields name, director, music, description, forAdults and averageRating. Allowed operations are as usual equal not equal, greater, lower..</small>
        </div>
        <button type="submit" class="btn btn-primary" onclick="specSearchMovies()">Spec search</button>
    </form>
    <br>
    <p id="searchMovies"></p>
    <br>
</div>
<div class="container">
    <div class="row">
        <h4>All movies</h4>
        <table class="table">
            <thead>
            <tr>
                <th> Movie Id </th>
                <th> Movie name </th>
                <th> Description </th>
                <th> Average rating </th>
                <th> Over 18 </th>
                <th> Action </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${allMovies.empty}">
                <td colspan="2"> No Movies Available </td>
            </tr>
            <tr th:each="movie : ${allMovies}">
                <td><span th:text="${movie.id}"></span></td>
                <td><span th:text="${movie.name}"></span></td>
                <td><span th:text="${movie.description}"></span></td>
                <td><span th:text="${movie.averageRating}"></span></td>
                <td><span th:text="${movie.forAdults} ? '*' : ''"></span></td>
                <td><a href="#" class="button" th:href="@{/movies/detail/{movieId}(movieId=${movie.id})}">Detail</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>