<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MovieDetail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="/sockjs.js"></script>
    <script src="/stomp.js"></script>
    <script src="/movieDetailScript.js"></script>
</head>
<body>
<div th:insert="header/header :: header()"></div>
<div class="container">
<h2 class="header-panel" th:text="${movieDetailDto.name}"></h2>
    <div th:if="${movieDetailDto.forAdults}">
        <p class="alert-danger"><span th:text="${movieDetailDto.forAdults} ? 'Movie is only for adults!' : ''"></span></p>
    </div>
    <p class="text">Movie Id: <span th:text="${movieDetailDto.movieId}"></span></p>
    <p class="text">Director: <span th:text="${movieDetailDto.director}"></span></p>
    <p class="text">Description: <span th:text="${movieDetailDto.description}"></span></p>
    <p class="text">Calculated Average Rating: <span th:text="${movieDetailDto.averageRating}"></span></p>
    <p>
        <div th:if="${isAllowedToBuy}">
            <form action="#" th:action="@{/movies/detail/buy}" method="post">
                <input type="hidden" name="movieId" id="id" th:value="${movieDetailDto.movieId}" />
            <button class="btn btn-info" type="submit" onclick="return confirm('Do you really want to buy this movie?')">
                Buy Movie
            </button>
            </form>
        </div>
        <div th:if="${movieDetailDto.bought}">
            <p class="alert-info">Movie is yours :)</p>
        </div>
        <div class="container" th:if="${status} != ''">
            <div class="alert-info">
                <p th:utext="${status}"></p>
            </div>
        </div>
    </p>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h4 class="header-panel">New Comment</h4>
                <form action="#" th:action="@{/movies/detail/comment/create}" th:object="${commentDto}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="movieId" id="movieId" th:value="${movieDetailDto.movieId}" />
                    </div>
                    <div class="form-group">
                        <label for="commentText"> Text * : </label>
                        <input id="commentText" th:field="*{commentText}" required/>
                        <p class="error" th:if="${#fields.hasErrors('commentText')}" th:errors="*{commentText}" style="color: red">Comment text error.</p>
                    </div>
                    <button class="arrow-button" type="submit">Create</button>
                </form>
                <br>
            </div>
            <div class="col-sm">
                <table class="table">
                    <thead>
                    <tr>
                        <th> Comment Id </th>
                        <th> Author Name </th>
                        <th> Text </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${movieDetailDto.comments.empty}">
                        <td colspan="2"> No Comments Available </td>
                    </tr>
                    <tr th:each="comment : ${movieDetailDto.comments}">
                        <td><span th:text="${comment.commentId}"></span></td>
                        <td><span th:text="${comment.authorName}"> </span></td>
                        <td><span th:text="${comment.commentText}"> </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h4 class="header-panel">New Rating</h4>
                <form action="#" th:action="@{/movies/detail/rating/create}" th:object="${ratingDto}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="id" id="id" th:value="${movieDetailDto.movieId}" />
                    </div>
                    <div class="form-group">
                        <label for="ratingValue"> Rating Value * : </label>
                        <input id="ratingValue" th:field="*{ratingValue}" required/>
                        <p class="error" th:if="${#fields.hasErrors('ratingValue')}" th:errors="*{ratingValue}" style="color: red">Rating value error.</p>
                    </div>
                    <button class="arrow-button" type="submit">Create</button>
                </form>
                <br>
            </div>
            <div class="col-sm">
                <table class="table">
                    <thead>
                    <tr>
                        <th> Rating Id </th>
                        <th> Author Name </th>
                        <th> Value </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${movieDetailDto.ratings.empty}">
                        <td colspan="2"> No Ratings Available </td>
                    </tr>
                    <tr th:each="rating : ${movieDetailDto.ratings}">
                        <td><span th:text="${rating.ratingId}"></span></td>
                        <td><span th:text="${rating.authorName}"> </span></td>
                        <td><span th:text="${rating.ratingValue}"> </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>