<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MovieDetail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="/sockjs.js"></script>
    <script src="/stomp.js"></script>
    <script src="/movieDetailScript.js"></script>
</head>
<body>
<div class="container">
<h2 class="header-panel" th:text="${movieDetail.name}"></h2>
    <div th:if="${movieDetail.forAdults}">
        <p class="alert-danger"><span th:text="${movieDetail.forAdults} ? 'Movie is only for adults!' : ''"></span></p>
    </div>
    <p class="text">Movie Id: <span th:text="${movieDetail.movieId}"></span></p>
    <p class="text">Director: <span th:text="${movieDetail.director}"></span></p>
    <p class="text">Description: <span th:text="${movieDetail.description}"></span></p>
    <p class="text">Calculated Average Rating: <span th:text="${movieDetail.averageRating}"></span></p>
    <p>
        <div th:if="${movieDetail.bought == false and isUserAdult}">
            <form action="#" th:action="@{/movies/detail/buy}" method="post">
                <input type="hidden" name="movieId" id="movieId" th:value="${movieDetail.movieId}" />
            <button class="btn btn-info" type="submit" onclick="return confirm('Do you really want to buy this movie?')">
                Buy Movie
            </button>
            </form>

            <div class="container" th:if="${status} != ''">
                <div class="alert-info">
                    <p th:utext="${status}"></p>
                </div>
            </div>
        </div>
        <div th:if="${movieDetail.bought}">
            <p class="alert-info">Movie is yours :)</p>
        </div>
    </p>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th> Comment Id </th>
                <th> Movie Id </th>
                <th> Author Id </th>
                <th> Text </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${movieDetail.comments.empty}">
                <td colspan="2"> No Comments Available </td>
            </tr>
            <tr th:each="comment : ${movieDetail.comments}">
                <td><span th:text="${comment.commentId}"></span></td>
                <td><span th:text="${comment.movieId}"> </span></td>
                <td><span th:text="${comment.authorId}"> </span></td>
                <td><span th:text="${comment.commentText}"> </span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th> Rating Id </th>
                <th> Movie Id </th>
                <th> Author Id </th>
                <th> Value </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${movieDetail.ratings.empty}">
                <td colspan="2"> No Ratings Available </td>
            </tr>
            <tr th:each="rating : ${movieDetail.ratings}">
                <td><span th:text="${rating.ratingId}"></span></td>
                <td><span th:text="${rating.movieId}"> </span></td>
                <td><span th:text="${rating.authorId}"> </span></td>
                <td><span th:text="${rating.ratingValue}"> </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>