<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MovieCatalog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/sockjs.js"></script>
    <script src="/stomp.js"></script>
    <script type="text/javascript">
        var stompClient = null;
        var allMovies = 'allMovies';
        var topMovies = 'topMovies';
        var latestMovies = 'latestMovies';
        var topMoviesUrl = '/movies/top5';
        var latestMoviesUrl = '/movies/latest5';
        var allMoviesUrl = '/movies/all';

        window.onload = function() {
            console.log('window onload function');
            connect();
        };

        window.onclose = function () {
            disconnect();
        };

        function getDataFromUrlToTable(url, table) {
            getJSON(url,
                function (err, data) {
                    if (err !== null) {
                        alert('Movies are not loaded: ' + err);
                    } else {
                        updateTable(data, table);
                    }
                });
        }

        function connect() {
            var socket = new SockJS('/movies');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/rating', function(topRatedMoviesMessage) {
                    getDataFromUrlToTable(topMoviesUrl, topMovies);
                    console.log(topRatedMoviesMessage);
                });
                stompClient.subscribe('/topic/latestMovies', function(latestMoviesMessage) {
                    getDataFromUrlToTable(latestMoviesUrl, latestMovies);
                    console.log(latestMoviesMessage);
                });
                stompClient.subscribe('/topic/all-movies', function(allMoviesMessage) {
                    getDataFromUrlToTable(allMoviesUrl, allMovies);
                    console.log(allMoviesMessage);
                });
            });
        }

        function disconnect() {
            if(stompClient != null) {
                stompClient.disconnect();
            }
            console.log("Disconnected");
        }

        function updateTable(movies, tableId) {
            // / EXTRACT VALUE FOR HTML HEADER.
            var col = [];
            for (var i = 0; i < movies.length; i++) {
                for (var key in movies[i]) {
                    if (col.indexOf(key) === -1) {
                        col.push(key);
                    }
                }
            }

            // CREATE DYNAMIC TABLE.
            var table = document.createElement("table");

            // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.
            var tr = table.insertRow(-1);                   // TABLE ROW.
            for (var l = 0; l < col.length; l++) {
                var th = document.createElement("th");      // TABLE HEADER.
                th.innerHTML = col[l];
                tr.appendChild(th);
            }

            // ADD JSON DATA TO THE TABLE AS ROWS.
            for (var k = 0; k < movies.length; k++) {
                tr = table.insertRow(-1);
                for (var j = 0; j < col.length; j++) {
                    var tabCell = tr.insertCell(-1);
                    tabCell.innerHTML = movies[k][col[j]];
                }
            }

            // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
            var divContainer = document.getElementById(tableId);
            if (divContainer.childElementCount > 0) {
                divContainer.removeAttribute('table');
            }
            divContainer.innerHTML = "";
            divContainer.appendChild(table);
        }

        var getJSON = function(url, callback) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = 'json';
            xhr.onload = function() {
                var status = xhr.status;
                if (status === 200) {
                    callback(null, xhr.response);
                } else {
                    callback(status, xhr.response);
                }
            };
            xhr.send();
        };

    </script>
</head>
<body>

<div class="container">
    <h2>MovieCatalog</h2>
    <br>
    <h4>All movies</h4>
    <p id="allMovies"></p>
    <br>
    <h4>5 latest movies</h4>
    <p id="latestMovies"></p>
    <br>
    <h4>TOP 5 movies by rating</h4>
    <p id="topMovies"></p>
</div>

</body>
</html>