<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MovieCatalog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/sockjs.js"></script>
    <script src="/stomp.js"></script>
    <script src="script.js"></script>
</head>
<body>

<div class="container">
    <h2>MovieCatalog</h2>
    <form action="#" id="searchForm">
        <div class="form-group">
            <input type="text" class="form-control" id="searchText" aria-describedby="searchHelp" placeholder="Enter search string...">
            <small id="searchHelp" class="form-text text-muted">Search is supported for fields Name, Director and Description.</small>
        </div>
        <button type="submit" class="btn btn-primary" onclick="searchMovies()">Search</button>
    </form>
    <p id="searchMovies"></p>
    <br>
    <h4>All movies</h4>
    <p id="allMovies"></p>
    <br>
    <h4>5 latest movies</h4>
    <p id="latestMovies"></p>
    <br>
    <h4>TOP 5 movies by rating</h4>
    <p id="topMovies"></p>
</div>

</body>
</html>