<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MovieCatalog-homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/sockjs.js"></script>
    <script src="/stomp.js"></script>
    <script src="script.js"></script>
</head>
<body>

<div class="container">
    <h2>MovieCatalog</h2>
    <div class="container">
        <br>
        <span><a href="#" class="btn btn-info" th:href="@{/allMovies}">View all movies</a></span>
        <span><a href="#" class="btn btn-info" th:href="@{/randomMovie}">View random Movie</a></span>
        <br><br>
        <div class="row">
            <h4>My movies</h4>
            <table class="table">
                <thead>
                <tr>
                    <th> Id </th>
                    <th> Name </th>
                    <th> Description </th>
                    <th> Average rating </th>
                    <th> Over 18 </th>
                    <th> Action </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${myMovies.empty}">
                    <td colspan="2"> You have no movies :P </td>
                </tr>
                <tr th:each="movie : ${myMovies}">
                    <td><span th:text="${movie.id}"></span></td>
                    <td><span th:text="${movie.name}"></span></td>
                    <td><span th:text="${movie.description}"></span></td>
                    <td><span th:text="${movie.averageRating}"></span></td>
                    <td><span th:text="${movie.forAdults} ? '*' : ''"></span></td>
                    <td><a href="#" class="button" th:href="@{/movies/detail/{movieId}(movieId=${movie.id})}">Detail</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Latest movies by id</h4>
            <table class="table">
                <thead>
                <tr>
                    <th> Id </th>
                    <th> Name </th>
                    <th> Description </th>
                    <th> Average rating </th>
                    <th> Over 18 </th>
                    <th> Action </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${latestMovies.empty}">
                    <td colspan="2"> No Movies Available </td>
                </tr>
                <tr th:each="movie : ${latestMovies}">
                    <td><span th:text="${movie.id}"></span></td>
                    <td><span th:text="${movie.name}"></span></td>
                    <td><span th:text="${movie.description}"></span></td>
                    <td><span th:text="${movie.averageRating}"></span></td>
                    <td><span th:text="${movie.forAdults} ? '*' : ''"></span></td>
                    <td><a href="#" class="button" th:href="@{/movies/detail/{movieId}(movieId=${movie.id})}">Detail</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <h4>Top movies by average rating</h4>
            <table class="table">
                <thead>
                <tr>
                    <th> Id </th>
                    <th> Name </th>
                    <th> Description </th>
                    <th> Average rating </th>
                    <th> Over 18 </th>
                    <th> Action </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${rating.empty}">
                    <td colspan="2"> No Movies Available </td>
                </tr>
                <tr th:each="movie : ${rating}">
                    <td><span th:text="${movie.id}"></span></td>
                    <td><span th:text="${movie.name}"></span></td>
                    <td><span th:text="${movie.description}"></span></td>
                    <td><span th:text="${movie.averageRating}"></span></td>
                    <td><span th:text="${movie.forAdults} ? '*' : ''"></span></td>
                    <td><a href="#" class="button" th:href="@{/movies/detail/{movieId}(movieId=${movie.id})}">Detail</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h4>Latest 5 comments</h4>
            <table class="table">
                <thead>
                <tr>
                    <th> Comment Id </th>
                    <th> Movie Id </th>
                    <th> Author Id </th>
                    <th> Comment Text </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${latestComments.empty}">
                    <td colspan="2"> No Comments Available </td>
                </tr>
                <tr th:each="comment : ${latestComments}">
                    <td><span th:text="${comment.commentId}"></span></td>
                    <td><span th:text="${comment.movieId}"></span></td>
                    <td><span th:text="${comment.authorId}"></span></td>
                    <td><span th:text="${comment.commentText}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>